.navbar {
  .fontSize(100, 10);
  width: 100%;
  height: 1em;
  position: absolute;
  background-color: transparent;
  color: @main-text-color;
  font: bold @fontSize 'Honey Script';
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar_fixed {
  position: fixed;
  background-color: @main-text-color;
  color: @inverse-text-color;
}

.logo {
  .fontSize(50, 100);
  font: normal @fontSize 'Honey Script';
  transition: color .5s ease-out;
  cursor: pointer;

  &::selection {
    &:extend(.selected-text);
  }
}

.navbar__logo {
}

.logo_inverse {
  color: @inverse-text-color;
  transition: color .3s ease-in;
}

.navs {
  .fontSize(14, 100);
  font: normal @fontSize 'Open Sans';
  list-style: none;
  display: flex;
  align-items: center;
  // need this cause of initial value
  -webkit-padding-start: 0;
}

.navs__nav-item {
  .fontSize(20, 14);
  padding-right: @fontSize;

  &:last-child {
    padding-right: 0;
  }
}

.nav-item {
}

.navs__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  .fontSize(10, 14);
  padding: @fontSize;

  &::selection {
    &:extend(.selected-text);
  }
}
