.navbar {
  z-index: 1;
  .fontSize(100, 10);
  width: 100%;
  height: 1em;
  position: absolute;
  background-color: transparent;
  color: @main-text-color;
  font: bold @fontSize 'Honey Script';
  text-align: center;

  @media all and (max-width: 655px) {
    position: fixed;
    background-color: @main-text-color;
    color: @inverse-text-color;
    transition: background-color .1s ease-out;
  }

  // no need to use clearfix here, cause height was set above
  //   &:after {
  //   content: "";
  //   display: table;
  //   clear: both;
  // }

}
.navbar_fixed {
  position: fixed;
  background-color: @main-text-color;
  color: @inverse-text-color;
  transition: background-color .1s ease-out;

  .navbar-toggle__dash {
    background-color: @inverse-text-color;
  }
}

.logo {

  .fontSize(50, 100);
  font: normal @fontSize 'Honey Script';
  transition: color .4s ease-out;
  cursor: pointer;
  float: left;

  &::selection {
    &:extend(.selected-text);
  }
}

.navbar__logo {
  padding-left: 2%;
  position: relative;
  &:extend(.centering-vertical);
}

// .navs-wrapper {
//   display: flex;
//   align-items: center;
//   flex-wrap: nowrap;
// }

.navbar__navs {
  @media all and (max-width: 655px) {
    // avoid .centering-vertical
    top: 0%;
    transform: translate3d(0,0,0);
    position: absolute;
    top: 100%;
    width: 100%;
  }

  // need to use .centering-vertical without @mdia scope,
  //  cause of :extend ignores different @media scopes
  position: relative;
  &:extend(.centering-vertical);
}

.navs {
  float: right;
  display: flex;
  align-items: center;
  .fontSize(14, 100);
  font: normal @fontSize 'Open Sans', sans-serif;
  list-style: none;

  // need this cause of initial value
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

  @media (min-width: 320px) and (max-width: 655px) {
    flex-direction: column;
    overflow: hidden;
    .fontSize(280, 14);
    height: @fontSize;
  }
}

.navs__nav-item {
}

.nav-item {
  display: inline-block;
  position: relative;
  .fontSize(20, 14);
  padding-right: @fontSize;
  // write like this, cause of we need to calculate the transition-delay based
  // on elem index. Shorthand style will override calculated prop. If we set
  // delay after adding this class to elem - delay will be added after second
  // show stage, that`s unacceptable
  // transition-property: all;
  // transition-duration: .4s;
  // transition-timing-function: ease-out;

  /* lets make it with css not with jQuery */
  transition: .4s all ease-out;
  .delay-nav-items(5);

  .delay-nav-items(@n, @i: 1) when (@i <= @n) {
    &:nth-of-type(@{i}) {
      transition-delay: (@i * 2) * 100ms;
    }
    .delay-nav-items(@n, (@i + 1));
  }
  /* we did it only with css without jQuery */

  &_seo-friendly-hide {
    transform: translate3d(0, -100%, 0);
    opacity: .2;
    visibility: hidden;
  }

  @media all and (min-width: 320px) and (max-width: 655px) {
    padding: 0;
    width: 100%;
    background-color: @main-text-color;
    border-top: 1px solid @inverse-text-color;
  }
}

.navs__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  .fontSize(10, 14);
  padding: @fontSize;

  @media all and (min-width: 320px) and (max-width: 655px) {
    width: 100%;
    .fontSize(55, 14);
    height: @fontSize;
  }

  &::selection {
    &:extend(.selected-text);
  }
}

.navbar-toggle-wrapper {
  position: relative;
  &:extend(.centering-vertical);

  float: right;
  .fontSize(45, 100);
  width: @fontSize;
  height: 36 / 100 * 1em; // need to do this, cause the @fontSize var is already exist
  padding: 10 / 100 * 1em;
  cursor: pointer;
}

.navbar-toggle {
  .fontSize(25, 100);
  width: @fontSize;
  position: relative;
  height: 16 / 100 * 1em; // need to do this, cause the @fontSize var is already exist
}

.navbar-toggle__dash {
  .fontSize(2, 100);
  height: @fontSize;
  width: 100%;
  position: absolute;
  background-color: @main-text-color;
  transition: .3s background-color ease-out;

  @media all and (max-width: 655px) {
    background-color: @inverse-text-color;
  }
}

.navbar-toggle__dash_top {
  top: 0;
  &:extend(.dash-transition-opacity);
}

.navbar-toggle__dash_middle {
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
  transition: transform .3s ease-out,
    background-color .3s ease-out .15s;
}

.navbar-toggle__dash_middle_clockwise {
  transform: translateY(-50%)
    rotateZ(45deg);
  &:extend(.dash-transition-transform);
}

.navbar-toggle__dash_middle_counter-clockwise {
  transform: translateY(-50%)
    rotateZ(-45deg);
  &:extend(.dash-transition-transform);
}

.dash-transition-transform {
  /*this transition means that we get to that state in .3s with delay*/
  transition: transform .3s ease-out .26s,
    background-color .3s ease-out;
}

.navbar-toggle__dash_bottom {
  bottom: 0;
  &:extend(.dash-transition-opacity);
}

.dash-transition-opacity {
  transition: opacity .3s ease-out .15s,
    background-color .3s ease-out .15s;
}

.navbar-toggle-wrapper_open {
  .navbar-toggle__dash_top, .navbar-toggle__dash_bottom {
    opacity: 0;
  }
}
