doctype html
html
  head
    title Train Uno
    link(rel='stylesheet' href='/styles/main.css')
  body
    include ./Main/Main.pug
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/scripts/jqueryFalldown.js")
    script(src="/scripts/main.js")
